<h1>Simple Log In Form</h1>

<form action="/" method='POST'>

<input type="text" name="studentID"  required="required" placeholder="id"><br><br>
<input type="text" name="LastName" required="required" placeholder="lastname"><br><br>
<input type="text" name="FirstName" required="required" placeholder="FirstName"><br><br>
<input type="text" name="Address" required="required" placeholder="Address"><br><br>
<input type="text" name="City" required="required" placeholder="city"><br><br>
<input type="submit">





</form>

<form action="/students">
    <input type="submit" value="FetchData">
</form>